<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Student List</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <link href="https://unpkg.com/ionicons@4.4.6/dist/css/ionicons.min.css" rel="stylesheet">

    <style type="text/css">
        .borderless td, .borderless th {
            border: none !important;
            padding: 4px !important;
            color: midnightblue;
        }
        .borderless1 td, .borderless1 th {
            border: none !important;
        }
        body
        {
            background-color: midnightblue;
            color: whitesmoke;
        }
        button{
            background-color: transparent;
        }
        input{
            color: midnightblue;
        }
        </style>
    <script>
        var app = angular.module('application', []);
        app.controller('controller', function($scope,$http) {
            var init = function(){
                var query='http://127.0.0.1:3000/Hiresh/Get'
                $http.get(query).then(function(data) {
                    console.log(data.data);
                    $scope.Studentlist=data.data;
                });
            }
            $scope.InsertData=function(){
                var query='http://127.0.0.1:3000/Hiresh/Create?id='+$scope.classid+'&name='+$scope.studentname
                +'&cos='+$scope.cos+'&major='+$scope.majors+'&minor='+$scope.minor
                $http.get(query).then(function(data) {
                    init();
                });
            }
            $scope.filter=function(){
                var query='http://127.0.0.1:3000/Hiresh/Search?major='+$scope.major;
                $http.get(query).then(function(data) {
                    $scope.Studentlist=data.data;
                });
            }
            $scope.Reset=function()
            {
                init();
            }
            init();
        });
    </script>
</head>
<body  ng-app="application" ng-controller="controller">
<div class="container-fluid" style="height: 80px;margin-bottom: 20px;background-color: whitesmoke;color: midnightblue">
<label style="
    font-size: 45px;
    text-align: center;
    width: 100%;
"> NodeJS - Students</label>
</div>
<div align="center" id="myModal" class="modal fade"  tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
       style="height: 60%;width: 50%;background-color: whitesmoke;display: none;margin-left: 25%;margin-top: 8%;padding-left: 17px;">
    <div class="modal-dialog modal-dialog-centered">
    <table align="center" class="table borderless" style="width: 50%">
    <tr>
        <td colspan="2" style="text-align: center;font-size: 16px;font-weight: 900" width="100%">
            Student Details
        </td>
    </tr>
    <tr>
        <td><label>Class ID</label></td>
        <td><input class="form-control" type="text" ng-model="classid"></td>
    </tr>
    <tr>
        <td><label>Student name</label></td>
        <td><input class="form-control" type="text" ng-model="studentname"></td>
    </tr>
    <tr>
        <td><label>Course of study</label></td>
        <td><input class="form-control" type="text" ng-model="cos"></td>
    </tr>
    <tr>
        <td><label>Major</label></td>
        <td><input class="form-control" type="text" ng-model="majors"></td>
    </tr>
    <tr>
        <td><label>Minor</label></td>
        <td><input class="form-control" type="text" ng-model="minor"></td>
    </tr>
    <tr>
        <td colspan="2">
        <button class="btn btn-lg btn-primary" style="background-color: midnightblue;width: 100%" type="submit" ng-click="InsertData()">Insert</button>
        </td>
    </tr>
</table>
    </div>
</div>

<div class="container">
<table  class="table">
    <tr>
        <td colspan="2"> Filter by : Major</td>
        <td colspan="2">
            <div class="row" style="text-align: center">
                <input style="width: 60%" type="text" ng-model="major"  class="form-control col-xs-8">
        <button type="submit" ng-click="filter()">Search</button>
            </div>
        </td>
        <td><button type="button" data-toggle="modal" data-target="#myModal">
            <i class="icon ion-md-add"></i>
            <!--<ion-icon name="add-circle-outline"></ion-icon>-->
        </button>
            <button type="button" ng-click="Reset()">
                <i class="icon ion-md-refresh"></i>
                <!--<ion-icon name="add-circle-outline"></ion-icon>-->
            </button>
        </td>
    </tr>
    <tr>
        <td>
            ClassID
        </td>
        <td>
            StudentName
        </td>
        <td>Course</td>
        <td>Major</td>
        <td>Minor</td>
    </tr>
    <tr ng-repeat="data in Studentlist">
        <td>{{data.ClassID}}</td>
        <td>{{data.StudentName}}</td>
        <td>{{data.CourseofStudy}}</td>
        <td>{{data.Major}}</td>
        <td>{{data.Minor}}</td>
    </tr>
</table>
</div>
</body>
</html>